{% extends 'template.html.twig' %}
{% block title %}
    <title>tt</title> {% endblock %}

{% block body %}

    <h1>with love Moataz CHAABANE</h1>
    <p>Bonjour Techwall</p>
    Mon ur absoolue est {{ url('first') }}
{% endblock  %}